.cloudy {
    background: url("https://gist.github.com/dm-wyncode/63763f460421122aab6bad7de00b0ac1/raw/d660cd094961bea222d6b2453aca2538f07ef62b/cloudy.jpg") no-repeat center center fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    text-align: center;
}

.rainy {
  background: url("https://gist.github.com/dm-wyncode/63763f460421122aab6bad7de00b0ac1/raw/d660cd094961bea222d6b2453aca2538f07ef62b/rainy.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  text-align: center;
}

.sunny {
  background: url("https://gist.github.com/dm-wyncode/63763f460421122aab6bad7de00b0ac1/raw/d660cd094961bea222d6b2453aca2538f07ef62b/sunny.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  text-align: center;
  background-size: cover;
}


.section-one, label, p, h3 {
  color: white;
}

input[type="text"] {
    width: 100px;
}

.section-four {
  font-size: 32px;
  border: 1px solid black;
  width: 120px;
  margin: 0 auto;
}

#submit {
  border-radius: 5px;
}

.section-one, .section-three {
  padding-bottom: 10px;
  padding-top: 10px;
}

 {
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  h3 {
    color: black;
  }
}
